<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <H2>Crear Estudiante</H2>
  <form action="/api/view" method="POST">
    <input name="username" placeholder="username" type="text">
    <input name="password" placeholder="password" type="text">
    <button id="create-button" type="submit">Crear</button>
  </form>
  <script src="/js/students/students.scripts.js"></script>
</body>
</html>