<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% for (let student of students) {%>
    <h2>Nombre : <%= student.username %></h2>
    <button class="delete-button" data-id="<%= student.id %>">Eliminar</button>
  <% } %>
  <script src="/js/students/students.scripts.js"></script>
</body>

</html>