<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="update-form">
    <input name="username" type="text">
    <input name="age" type="text">
    <input name="phone" type="text">
    <button type="submit"></button>
  </form>
  <script src="/js/students/students.scripts.js"></script>
</body>
</html>