@import "/src/global.scss";

#page-settings-worker {
  background-color: var(--background-1);
  min-height: 100vh;
  @include flex-items(column);
  
  img#coffeShop-image {
    margin-top: 1.5vh;
    height: 25vh;
    border-radius: 15px;
    box-shadow: 0 0 25px 2px black;
  }

  main#worker-setttings {
    @include flex-items(column);
    color: var(--text-2);
    margin-top: 60px;
    display: flex;
    gap: 20px;
    width: 90%;
  }

  #settings-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }

  section#section-log-out {
   padding-bottom: 100px;
   width: 100%;
   @include flex-items;

    .container-logout{
      @include flex-items;
      color: var(--text-2);
      gap: 10px;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    svg {
      margin: 0 auto;
      font-size: 2em;
      margin-bottom: 5px;
    }

    p {
      color: grey;
    }
  }
}