@import '/src/global.scss';

div.label-option,div.label-input {
  display: flex;
  flex-direction: column;
  
  .label-text {
    font-size: $text-medium-size;
    text-align: left;
    margin-bottom: 8px;
  }

  input,select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: $text-small-size;
  }
}
