@import "/src/global.scss";

#page-account-client {
    background-color: var(--background-1);
    min-height: 100vh;
    display: grid;
    // grid-template-rows: 1fr auto 1fr;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    #content-account-client {
        margin: 60px 0;
        display: flex;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10px;

        .container-back {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
                font-size: 30px;
                margin: 10px 20px;
            }
        }

        .container-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            .container-img-profile {
                margin: 10px 20px;
                position: relative;

                .avatar-img {
                    color: var(--reverse-neutral);
                    font-size: $font-H1;
                    background-color: var(--text-3);
                }

                .avatar-img:active {
                    transform: scale(.9);
                }
            }

            .container-info-student {
                .name-student-update-profile {
                    color: var(--text-1);
                    font-weight: 600;
                    font-size: $font-H2;
                }

                .course-student-update-profile {
                    color: var(--text-2);
                    font-weight: 400;
                    font-size: $font-body-large;
                }
            }

        }

        .container-inputs {
            width: 100%;
            @include flex-items(column);
            gap: 15px;

            .label-input {
                width: 90%;
                background-color: var(--background-1);
                color: var(--text-2);

                .label-text {
                    font-size: $font-size-medium-big;
                    font-weight: 600;
                    color: var(--text-2);
                }

                select {
                    background-color: var(--background-3);
                    color: var(--text-2);
                    font-weight: 500;
                    border: 0;
                    background-color: var(--background-3);
                    border-radius: 5px;
                    padding: 10px 10px;
                    font-size: $font-t-body-large;

                    option {
                        color: var(--text-1);
                    }
                    option:hover{
                        background-color: var(--text-1);
                    }
                }

            }

            .container-btn-account {
                width: 50%;

                button {
                    background-color: var(--background-3);
                    border: 0;
                    font-size: $font-size-medium-small;
                    font-weight: 700;
                }

                button:active {
                    transform: scale(.8);
                }

            }
        }
    }

}

.edit-mode-icon {
    font-size: 20px;
    border-radius: 50%;
    padding: 3px;
    color: $primary-color;
    background-color: var(--background-3);
    position: absolute;
    bottom: 0;
    right: 0;
}