@import '/src/global.scss';

.container-card-category {
  width: 90%;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  .container-content-card-category {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/images/ImgMenus/bebidas.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // background-color: $neutral-default-black;
    opacity: .6;
    
    .title-category-card{
      z-index: 1;
      font-size: $font-size-medium-big;
      color: var(--text-1);
      position: absolute;
    }
    .count-category-card{
      z-index: 1;
      font-size: $font-size-small;
      color: var(--text-2);
      position: absolute;
      bottom: 10px;
    }
  }

}
.container-img-category-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}