<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Listado</h2>

      <% for (let product of products) { %>
    <h2>Nombre : <%= product.name %> <span> id: <%= product.id %></span></h2>
    <button class="delete-button" data-id="<%= product.id %>">Eliminar</button>
    <a href="/api/view/product/edit/<%= product.id %>">
      <button class="edit-button">Editar</button>
    </a>
  <% } %>
  <script src="../../public/js/product/product-delete.js"></script>
</body>
</html>