<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="update-product-form" data-id="<%= product.id %>">
  <h2><%= product.id %></h2>
  <h3><%= product.name %></h3>
    <input name="name" type="text" value="nano">
    <input name="price" type="text" value="12">
    <button type="submit">Actualizar</button>
  </form>
  <script src="/js/product/product-update.js"></script>
</body>
</html>