@import '/src/global.scss';

.worker-card {
    width: 95%;
    max-width: 380px;
    @include flex-items(column);

    .container-info-worker {
        display: flex;
        justify-content: space-between;

        .container-img-worker {
            width: 50%;

            .item-img {
                width: 100%;
                object-fit: cover;
            }
        }

    }

    .container-control-worker {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}