<<<<<<< HEAD:frontend/src/pages/admin/forms/Form.scss
@import 'src/global.scss';
=======
@import '/src/global.scss';
>>>>>>> 3d6e623c149b7e83ebfbc3ba32bb394e0c77b15b:frontend/src/components/adminComponents/forms/Form.scss

main.form-container {
  @include flex-items(column);
  min-height: 100vh;
  width: 100%;

  form {
    width: 90%;

    h2 {
      text-align: center;
      font-size: 40px;
    }
    div#buttons .welcome-submit:active{
      transform: translateY(5px);
    }
  }
}
