@import "/src/global.scss";

.category-cards-container {
    padding-top: 70px;
    display: flex;
    background-color: transparent;

    #category-container-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 14px;
    }
}