<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
  </head>
  <body>
    <h1>Listado de pedidos</h1>
    <ul>
      <!-- <%# for (let o of orders) { %>
      <li>
        <%# o.date %>
        <button class="delete-button" data-id="<%# o.id %>">Eliminar</button>
        <a href="/api/admin/edit/<%# o.id %>">
          <button class="edit-button">Editar</button>
        </a>
      </li>
      <%# } %> -->
    </ul>

    <!-- <a href="/api/admin/create"> Crear Admin </a>
    <script src="/js/admins/crudAdminJs/deleteAdmin.js" defer></script> -->
  </body>
</html>