@import '/src/global.scss';

.section-container-admins-cards {
    width: 95%;
    background-color: $dark-mode-text-text-secondary-2;
    @include flex-items(column);
    gap: 1em;
    padding: 1em 0;
}