@import '/src/global.scss';

main#owner-settings{
  background-color: grey;
  div#info-orders{
    display: flex;
    flex-direction: column;
      h2{
        text-align: center;
      }
      span#space{
        display: inline-block;
        width: 50%;
        height: 2px;
        background-color: white;
        margin: 0 auto;
        margin-bottom: 5px;
      }
      div#fields-results{
        display: flex;
        width: 70%;
        margin: 0 auto;
        gap: 5px;
        justify-content: space-evenly;

        div#fields p{
          margin-bottom: 5px;
        }
        div#results p{
          margin-bottom: 5px;
          color: white;
        }
      }
  }

  div#info-graphics{
    display: flex;
    padding-left: 40px;

    div#text{
      
    }
  }


}