@import '/src/global.scss';

.order-card {
  background-color: var(--background-2);
  width: 90%;
  margin: 10px;
  gap: 5px;
  border-radius: 5px;
  @include flex-items(column);

  .card-order-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: var(--text-3);
    font-size: $font-size-tiny;
    font-weight: bold;
  }

  .text-name-student {
    text-align: center;
    color: var(--text-1);
  }

  .card-order-content {
    width: 100%;
    @include flex-items(column);

    li {
      padding: 5px;
      background-color: var(--borders-separators-2);
      display: flex;
      justify-content: space-between;
      width: 80%;
      font-weight: bold;
      color: var(--text-2);

      p {
        font-weight: 500;
      }


    }
  }

  .card-order-container-btn {
    width: 100%;
    @include flex-items;

    button {
      width: 50%;
      max-width: 116px;
      height: 20px;
    }
  }
}