@import '/src/global.scss';

.container-plate-of-day-cards{
    width: 100%;
    min-height: 244px;
    background-color: $dark-mode-background-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .container-title-card-home{
        width: 100%;
        display: flex;
        .title-card-home{
            margin: 0 10px;
            font-weight: 600;
            font-size: $text-big-size;
            color: $default-white;
        }
    }
    .container-plate-cards{
        @include flex-items;
        width: 100%;
    }
}