@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #EB5E28;
$secondary-color: #2B2927;

$primary-background: #CCC5B9;
$secondary-background: #8C8C8C;

$default-white: #fff;
$default-white-2: #E3E3E3;

$default-black: #000;

$primary-font: "Roboto",
sans-serif;

$text-tiny-size: 12px;
$text-small-size: 14px;
$text-medium-size: 18px;
$text-big-size: 20px;

$text-subtitle: 22px;
$text-title: 24px;


/* Color styles */
$accent: #EB5E28;
$gray: #8C8C8C;
$secondary: #2B2927;

$neutral-default-white: #EEEEEE;
$neutral-default-black: #090909;

$dark-mode-text-text-accent-1: #FF9972;
$dark-mode-text-text-secondary-1: #B7B7B7;
$dark-mode-text-text-accent-2: #FCD5C8;
$dark-mode-text-text-secondary-2: #EEEEEE;
$dark-mode-borders-and-separators-borders-accent-1: #7D3B24;
$dark-mode-borders-and-separators-borders-secondary-1: #494949;
$dark-mode-borders-and-separators-borders-accent-2: #B75939;
$dark-mode-borders-and-separators-borders-secondary-2: #6B6B6B;
$dark-mode-interactive-components-interactive-accent-1: #4D2C21;
$dark-mode-interactive-components-interactive-secondary-1: #383838;
$dark-mode-interactive-components-interactive-accent-2: #6F301A;
$dark-mode-interactive-components-interactive-secondary-2: #424242;
$dark-mode-backgrounds-background-accent-1: #2F2825;
$dark-mode-backgrounds-background-secondary-1: #292929;
$dark-mode-backgrounds-background-accent-2: #342A26;
$dark-mode-backgrounds-background-secondary-2: #303030;

$light-mode-text-text-accent-1: #B42E00;
$light-mode-text-text-secondary-1: #4E4E4E;
$light-mode-text-text-accent-2: #582D1E;
$light-mode-text-text-secondary-2: #202020;
$light-mode-borders-separators-borders-accent-1: #EEA288;
$light-mode-borders-separators-borders-accent-2: #D27757;
$light-mode-borders-separators-borders-secondary-1: #C0C0C0;
$light-mode-borders-separators-borders-secondary-2: #A1A1A1;
$light-mode-interactive-components-interactive-accent-1: #EFD5CD;
$light-mode-interactive-components-interactive-accent-2: #F8B097;
$light-mode-interactive-components-interactive-secondary-1: #DBDBDB;
$light-mode-interactive-components-interactive-secondary-2: #C9C9C9;
$light-mode-backgrounds-background-accent-1: #ECEAE9;
$light-mode-backgrounds-background-secondary-1: #EAEAEA;
$light-mode-backgrounds-background-accent-2: #EDE2DE;
$light-mode-backgrounds-background-secondary-2: #E5E5E5;



// Defined flexbox style with parametres
@mixin flex-items($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

body {
  box-sizing: border-box;
}

body,
#root,
html {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $default-black;
}

@mixin formulario-layout {
  @include flex-items(column);

  form {
    min-width: 35%;
    max-width: 400px;
    width: 90%;
    font-family: $primary-font;
  }
}

@mixin page-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

details {
  width: 100%;
  font-size: 1.2rem;
  @include flex-items(column);

  summary {
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
  }
}