@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #EB5E28;
$secondary-color: #2B2927;

$primary-background: #CCC5B9;
$secondary-background: #8C8C8C;

$default-white: #fff;
$default-white-2: #E3E3E3;

$default-black: #000;

$primary-font: "Roboto",
sans-serif;

$text-tiny-size: 10pt;
$text-small-size: 12pt;
$text-medium-small-size: 14pt;
$text-medium-size: 16pt;
$text-medium-big-size: 18pt;
$text-big-size: 20pt;

$text-subtitle: 22pt;
$text-title: 24pt;

/* Color styles */
$accent: #EB5E28;
$gray: #8C8C8C;
$secondary: #2B2927;

$neutral-default-white: #EEEEEE;
$neutral-default-black: #090909;

$dark-mode-text-1: #EEEEEE;
$dark-mode-text-2: #B7B7B7;
$dark-mode-text-3: #818181;
$dark-mode-text-4: #FF9972;
$dark-mode-borders-separators-1: #934930;
$dark-mode-borders-separators-2: #555555;
$dark-mode-interactive-1: #6F301A;
$dark-mode-interactive-2: #424242;
$dark-mode-background-1: #292929;
$dark-mode-background-2: #303030;
$dark-mode-background-3: #383838;

$light-mode-text-1: #202020;
$light-mode-text-2: #4E4E4E;
$light-mode-text-3: #6A6A6A;
$light-mode-text-4: #B42E00;
$light-mode-borders-separators-1: #DE9075;
$light-mode-borders-separators-2: #B5B5B5;
$light-mode-interactive-1: #EFD5CD;
$light-mode-interactive-2: #F8B097;
$light-mode-background-1: #EAEAEA;
$light-mode-background-2: #E5E5E5;
$light-mode-background-3: #DBDBDB;


// Defined flexbox style with parametres
@mixin flex-items($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

body {
  box-sizing: border-box;
}

body,
#root,
html {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $default-black;
}

@mixin formulario-layout {
  @include flex-items(column);

  form {
    min-width: 35%;
    max-width: 400px;
    width: 90%;
    font-family: $primary-font;
  }
}

@mixin page-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

details {
  width: 100%;
  font-size: 1.2rem;
  @include flex-items(column);

  summary {
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
  }
}