<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="update-student-form" data-id="<%= student.id %>">
  <h2><%= student.id %></h2>
    <input name="username" type="text" value="nano">
    <input name="password" type="password" value="1234">
    <input name="age" type="text" value="10">
    <input name="phone" type="text" value="784546486">
    <button type="submit">Actualizar</button>
  </form>
  <script src="/js/students/students-scripts.js"></script>
</body>
</html>