div.settings-item {
  display: flex;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px 15px 30px;
  color: var(--text-2);

  div{
    display: flex;
    gap: 30px;
    justify-content: left;
    
    svg{
      width: 100%;
      height: 100%;
    }
  }

  img.menu-item-arrow, img.menu-item-icon {
    height: 20px;
  }
}
