<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admins</title>
  </head>
  <body>
    <h1>Listado de workers</h1>
    <ul>
      <% for (let worker of workers) { %>
      <li>
        <%= worker.username %>
        <button class="delete-button" data-id="<%= worker.id %>">
          Eliminar
        </button>
        <a href="/api/admin/edit/<%= worker.id %>">
          <button class="edit-button">Editar</button>
        </a>
        <% } %>
      </li>
    </ul>
    <a href="/api/worker/create"> Crear Admin </a>
  </body>
</html>
