@import "/src/global.scss";

main#category-container{
    padding-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2{
        margin-bottom: 20px;
    }
}