@import '/src/global.scss';

.course-card {
    width: 90%;
    max-width: 380px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    .container-info {
        display: flex;
        gap: 1em;

    }

    .container-control-course {
        @include flex-items(column);

        a,
        .btn-edit,
        .btn-trash {
            width: 25px;
            border: 0;
        }

        .btn-edit:active,
        .btn-trash:active {
            transform: scale(.8);
        }

    }
}